<!-- Interactive Slider v2 -->
<div class="interactive-slider-v2 img-v1">
	<div class="container">
	</div>
</div>


<h1>Index#about</h1>
<p>Find me in app/views/index/about.html.erb</p>
<p> lorem ipsumdaldsakdklösadsdkaökö</p>
<p> lorem ipsumdaldsakdklösadsdkaökö</p>
<p> lorem ipsumdaldsakdklösadsdkaökö</p>
<p> lorem ipsumdaldsakdklösadsdkaökö</p>
<p> lorem ipsumdaldsakdklösadsdkaökö</p>