<!-- Interactive Slider v2 -->
<div class="interactive-slider-v2 img-about">
	<div class="container">
	</div>
</div>


<div class="bg-color-light">
	<div class="container content-sm no-top-margin">

		<div class="service-info margin-bottom-30">
			<div class="container">
				<!--=== skills ===-->
				<div class="headline-center-v2 headline-center-v2-dark margin-bottom-10">
					<h2>Skills</h2>
					<span class="bordered-icon"><i class="fa fa-globe"></i></span>
				</div>
				<div class="row">
					<div class="col-md-9 centered">
						<!-- General -->
						<div class="margin-bottom-20">
							<i class="service-info-icon rounded-x icon-pin"></i>
							<div class="info-description">
								<h3 class="title-v3-md text-uppercase">General capabilities</h3>

								<ul class="col-xs-8 list-unstyled lists-v2">								

									<li><i class="fa fa-angle-right"></i>Strong English (in writing and speech) communication skills</li>
									<li><i class="fa fa-angle-right"></i>High analytical competence</li>
									<li><i class="fa fa-angle-right"></i>Team player</li>
									<li><i class="fa fa-angle-right"></i>International focus</li>	
									<li><i class="fa fa-angle-right"></i>Cultural awareness</li>

								</ul>									

								</div>
						</div> 
						<!--  / General -->					
						<!-- Requirements engineering -->
						<div class="margin-bottom-20">
							<i class="service-info-icon rounded-x icon-pin"></i>
							<div class="info-description">
								<h3 class="title-v3-md text-uppercase">Requirements engineering</h3>
								<p>Working  since more than 5 years in the requirements engineering and business analysis.</p>
								<ul class="col-xs-8 list-unstyled lists-v2">
								
									<li><i class="fa fa-angle-right"></i>Business process modeling skills.</li>
									<li><i class="fa fa-angle-right"></i>Using several tools and methods like UML, Confluence, Jira, Office suite etc.</li>
									<li><i class="fa fa-angle-right"></i>Working in international context for checkout in wholesale business.</li>
									<li><i class="fa fa-angle-right"></i>Working in different roles like Product Owner/Solutions Expert in agile teams</li>
									<li><i class="fa fa-angle-right"></i>Since 2015: IREB Certified Professional for Requirements Engineering</li>									

								</ul>									

								</div>
						</div> 
						<!--  /End Requirements engineering -->
						<!-- Development -->
						<div class="md-margin-bottom-20">
							<i class="service-info-icon rounded-x icon-pin"></i>
							<div class="info-description">
								<h3 class="title-v3-md text-uppercase">Development</h3>
								<p>Working 20 years in the IT means a lot of experience in many different programming languages like:  </p>
								<ul class="col-xs-8 list-unstyled lists-v2">
									<li><i class="fa fa-angle-right"></i>XSLT</li>
									<li><i class="fa fa-angle-right"></i>VBA</li>
									<li><i class="fa fa-angle-right"></i>shell programming</li>
									<li><i class="fa fa-angle-right"></i>C, C++</li>
									<li><i class="fa fa-angle-right"></i>SQL, PL/SQL</li>
									<li><i class="fa fa-angle-right"></i>HTML, CSS</li>
									
								</ul>
							</div>
						</div>
						<!-- End Development -->
						<!-- Quality assurance -->
						<div class="md-margin-bottom-20">
							<i class="service-info-icon rounded-x icon-pin"></i>
							<div class="info-description">
								<h3 class="title-v3-md text-uppercase">Quality assurance</h3>
								<p>I also worked a while in the quality assuarance.</p>
								<ul class="col-xs-8 list-unstyled lists-v2">
									<li><i class="fa fa-angle-right"></i>ISTQB® Certified Tester - Foundation Level</li>
									
								</ul>
							</div>
						</div>
						<!-- End Quality assurance -->
					</div>
				</div><!--/row-->

				<!--=== End skills ===-->

				<!--=== Experience ===-->
				<div class="headline-center-v2 headline-center-v2-dark margin-bottom-10">
					<h2>Professional Experience</h2>
					<span class="bordered-icon"><i class="fa fa-globe"></i></span>
					<p></p>
					<!---->
					<!-- Begin Content -->
					<div class="col-md-9">
						<ul class="timeline-v2">
							<li class="equal-height-columns">
								<div class="cbp_tmtime equal-height-column"><span>07/01/2002</span> <span>July 2002</span></div>
								<i class="cbp_tmicon rounded-x hidden-xs"></i>
								<div class="cbp_tmlabel equal-height-column">
									<h2>Metrosystems GmbH</h2>
									<p>Parsley amaranth tigernut silver beet maize fennel spinach. Ricebean black-eyed pea maize scallion green bean spinach cabbage jícama bell pepper carrot onion corn plantain garbanzo. Sierra leone bologi komatsuna celery peanut swiss chard silver beet squash dandelion maize chicory burdock tatsoi dulse radish wakame beetroot.</p>
								</div>
							</li>
							<li class="equal-height-columns">
								<div class="cbp_tmtime equal-height-column"><span>01/01/1999</span> <span>Jan. 1999</span></div>
								<i class="cbp_tmicon rounded-x hidden-xs"></i>
								<div class="cbp_tmlabel equal-height-column">
									<h2>SD&amp;M AG</h2>
									<p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
								</div>
							</li>
							<li class="equal-height-columns">
								<div class="cbp_tmtime equal-height-column"><span>10/01/1994</span> <span>Oct. 1994</span></div>
								<i class="cbp_tmicon rounded-x hidden-xs"></i>
								<div class="cbp_tmlabel equal-height-column">
									<h2>mbs GmbH</h2>
									<p>Parsley amaranth tigernut silver beet maize fennel spinach. Ricebean black-eyed pea maize scallion green bean spinach cabbage jícama bell pepper carrot onion corn plantain garbanzo. Sierra leone bologi komatsuna celery peanut swiss chard silver beet squash dandelion maize chicory burdock tatsoi dulse radish wakame beetroot.</p>
								</div>
							</li>
						</ul>
					</div>
					<!-- End Content -->

<!---->

						</div><!--/Headline Center v2-->
				<!--=== End Experience ===-->
				<!--=== Education ===-->
				<div class="headline-center-v2 headline-center-v2-dark margin-bottom-10">
					<h2>Education</h2>
					<span class="bordered-icon"><i class="fa fa-globe"></i></span>
					<p>September 1994: University Degree in mechanical engineering with focus on automation.<br>
					Universität Gesamthochschule Essen</p>
				</div><!--/Headline Center v2-->
				<!--=== End Education ===-->
			</div><!--End container-->
		</div><!--End service info-->
	</div>
</div>

