<!-- Interactive Slider v2 -->
<div class="interactive-slider-v2 img-contact">
	<div class="container">
	</div>
</div>

<!--=== Intro Block ===-->
<div class="bg-color-light">
	<div class="container content-sm no-top-margin">
		<div class="service-info margin-bottom-30">
			<div class="container">
				<!--=== Headline ===-->
				<div class="headline-center-v2 headline-center-v2-dark margin-bottom-10">
					<h2>Contact me!</h2>
					<span class="bordered-icon"><i class="fa fa-globe"></i></span>
				</div><!--/Headline Center v2-->
			</div>
			<div class="row">
				<div class="col-md-6 md-margin-bottom-50">
					<!--img class="img-responsive" src="contact_me.png" alt=""-->
					<%= image_tag "contact_me.jpg", :class => "img_responsive max-100" %>
				</div>
				<div class="col-md-6">
					<p>Please contact me in case you have questions or remarks.</p><br>
					<div class="row">
						<ul class="col-xs-8 list-unstyled lists-v1">
							<li><i class="fa fa-angle-right"></i><a href="mailto:mh@michaelhoevel.de?Subject=Your%20homepage" target="_top">Send me a mail</a></li>
							<li><i class="fa fa-angle-right"></i>or via E-Mail: michael.hoevel.duisburg@gmail.com</li>
							<li><i class="fa fa-angle-right"></i>or via Facebook</li>
							<li><i class="fa fa-angle-right"></i>or via LinkedIn</li>
						</ul>
					</div>
				</div>
			</div><!--/end row-->
		</div><!-- end service-info -->
	</div>
</div>
<!--=== End Intro Block ===-->

