<!-- Interactive Slider v2 -->
<div class="interactive-slider-v2 img-hobbies">
	<div class="container">
	</div>
</div>

<div class="bg-color-light">
	<div class="container content-sm no-top-margin">

		<div class="service-info margin-bottom-30">
			<div class="container">
				<!--=== Road bikes ===-->
				<div class="headline-center-v2 headline-center-v2-dark margin-bottom-10">
					<h2>Cycling</h2>
					<span class="bordered-icon"><i class="fa fa-globe"></i></span>
						<p>Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br>
						Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipiscing elit. Morbi libero libero, imperdiet fringilla </p>
				</div>

				<!--=== End skills ===-->
				<!--=== Education ===-->			
				<div class="headline-center-v2 headline-center-v2-dark margin-bottom-10">
					<h2>Running</h2>
					<span class="bordered-icon"><i class="fa fa-globe"></i></span>
					<p>Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br>
						Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipiscing elit. Morbi libero libero, imperdiet fringilla </p>
				</div><!--/Headline Center v2-->
				<!--=== End Education ===-->
				<!--=== Experience ===-->
				<div class="headline-center-v2 headline-center-v2-dark margin-bottom-10">
					<h2>Trekking/Camping</h2>
					<span class="bordered-icon"><i class="fa fa-globe"></i></span>
					<p>Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br>
						Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipiscing elit. Morbi libero libero, imperdiet fringilla </p>
				</div><!--/Headline Center v2-->
				<!--=== End Experience ===-->
			</div><!--End container-->
		</div><!--End service info-->
	</div>
</div>


