<!-- Interactive Slider v2 -->
<div class="interactive-slider-v2 img-projects">
	<div class="container">
	</div>
</div>

	<div class="container content-sm no-top-margin">

		<div class="service-info margin-bottom-30">
			<div class="container">
				<!--=== Metrosystems ===-->
				<div class="headline-center-v2 headline-center-v2-dark margin-bottom-10">
					<h2>metrosystems GmbH</h2>
					<span class="bordered-icon"><i class="fa fa-globe"></i></span>
					<p>Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br>
						Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipiscing elit. Morbi libero libero, imperdiet fringilla </p>
				</div>
				<!--=== End Metrosystems ===-->
				<!--=== sd&m ===-->		
				<div class="headline-center-v2 headline-center-v2-dark margin-bottom-10">
					<h2>sd&m</h2>
					<span class="bordered-icon"><i class="fa fa-globe"></i></span>
					<p>Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br>
						Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipiscing elit. Morbi libero libero, imperdiet fringilla </p>
				</div><!--/Headline Center v2-->
				<!--=== End sd&m ===-->		
				<!--=== mbs ===-->		
				<div class="headline-center-v2 headline-center-v2-dark margin-bottom-10">
					<h2>mbs</h2>
					<span class="bordered-icon"><i class="fa fa-globe"></i></span>
					<p>Phasellus vitae ipsum ex. Etiam eu vestibulum ante. <br>
						Lorem ipsum <strong>dolor</strong> sit amet, consectetur adipiscing elit. Morbi libero libero, imperdiet fringilla </p>
				</div><!--/Headline Center v2-->
				<!--=== End mbs ===-->
			</div><!--container-->
		</div>
		</div>
	</div>
</div>

